@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Noto+Serif+KR:wght@300&family=Playfair+Display&family=Roboto:wght@100;400&display=swap');

@font-face {
  font-family: Pretendard;
  src: url(./PretendardVariable.ttf);
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  max-width: 500px;
  margin: 0 auto;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: inherit;;
}